#addContact {
    width: 80%;
    margin: 10px auto;
}

label {
    font-size: 18px;
    display: block;
    margin-left: 25px;
}

.form-group {
    margin: 15px 0px;
}

input {
    border: 1px solid black;
    font-size: 20px;
    padding: 10px 5px;
    width: 40%;
    border-radius: 5px;
    margin-left: 20px;
}

#btn {
    cursor: pointer;
    color: white;
    background: rgb(13, 110, 253);
    padding: 8px;
    margin-left: 25px;
}

#btn:hover {
    background-color: rgb(9, 120, 39);
}

hr {
    width: 80%;
    margin: 20px auto;
    opacity: 0.5;
}

.contact {
    width: 80%;
    margin: 10px auto;
    border: 1px solid rgb(168, 151, 151);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

#nameDisplay {
    font-weight: bolder;
}

#delete {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px;
    background: none;
    border: 1px solid #dc4545;
    color: #dc4545;
    border-radius: 5px;
}

#delete:hover {
    background-color: #dc4545;
    color: white;
    cursor: pointer;
}