@media only screen and (min-width:768px) and (max-width:1024px){
    body{
        background-image: linear-gradient(to left, rgba(255, 0, 0, 0.226), rgba(255, 166, 0, 0.226), rgba(255, 255, 0, 0.226), rgba(0, 128, 0, 0.226), rgba(0, 0, 255, 0.226), rgba(128, 0, 128, 0.226));
        /*background-image: url(../Multimedia/Fondo.JPG);*/
        background-size: cover;
        background-position: center;
    }
}
/*Recomendación de los profesores de CoderHouse:
0px a 767px - mobile phone
768px a 1024px - tables (in general)
1025px - desktop*/