/* ¡ATENCIÓN!

COMO COMPILAR EN SASS
________________________
Esto es lo que se tiene que escribir en la "TERMINAL", en la sección de "node" o "powershell" para que se haga la compilación de SASS a CSS.

C:\Users\Deni Alexandre\OneDrive\Escritorio\My 1st project\My 1st project - Copy 1>SASS --watch SASS_1/AStyles_1.scss SASS_1/AStyles_1.css 
Sass is watching for changes. Press Ctrl-C to stop.

Compiled SASS_1\AStyles_1.scss to SASS_1\AStyles_1.css.
_________________________
COMO HACER LO DE Git

Esto es lo que se tiene que escribir en la "TERMINAL", en la sección de "bash" o "git" para que se haga la compilación de git.

Deni Alexandre@LAPTOP-SLR26NHU MINGW64 ~/OneDrive/Escritorio/My 1st project/My 1st project - Copy 1 (main)
$ git status
On branch main
Your branch is up to date with 'origin/main'.

Deni Alexandre@LAPTOP-SLR26NHU MINGW64 ~/OneDrive/Escritorio/My 1st project/My 1st project - Copy 1 (main)
$ git add .
warning: LF will be replaced by CRLF in SASS_1/AStyles_1.css.
The file will have its original line endings in your working directory

Deni Alexandre@LAPTOP-SLR26NHU MINGW64 ~/OneDrive/Escritorio/My 1st project/My 1st project - Copy 1 (main)
$ git commit -m "versión1"

Deni Alexandre@LAPTOP-SLR26NHU MINGW64 ~/OneDrive/Escritorio/My 1st project/My 1st project - Copy 1 (main)
$ git push

*/

$Color_1: linear-gradient(to right, rgba(255, 0, 0, 0.226), rgba(255, 166, 0, 0.226), rgba(255, 255, 0, 0.226), rgba(0, 128, 0, 0.226), rgba(0, 0, 255, 0.226), rgba(128, 0, 128, 0.226));
$Textito: rgba(0, 0, 255, 0.836);
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*Estas son variables globales*/

body{
    background-image: $Color_1;
}
h1{
    color: $Textito;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.267);
    text-align: center;
}
h2{
    color:rgb(94, 34, 150);
    $Shadow: 5px 5px 5px rgba(0, 0, 0, 0.267);
    /*Estas son variables internas*/
    text-shadow: $Shadow;
    text-align:center;
    /*sass --watch SASS_1/AStyles_1.scss SASS_1/AStyles_1.css*/
    span{
        color:rgba(255, 0, 0, 0.486);
    }
}
p{
    text-align: center;
}
h5{
    text-align: center;
    color:rgb(107, 32, 177);
    $Shadow: 5px 5px 5px rgba(0, 0, 0, 0.267);
    /*Estas son variables internas*/
    text-shadow: $Shadow;
    font-style: italic;
}
dt{
    margin-left: 15px;
    color:rgb(109, 41, 41);
    $Shadow: 3px 3px 3px rgba(0, 0, 0, 0.267);
    /*Estas son variables internas*/
    text-shadow: $Shadow;
}
dd{
    margin-left: 25px;
}
li{
    margin-left: 35px;
}
footer{
    text-align: center;
    margin-bottom: 15px; 
    $Shadow: 5px 5px 5px rgba(0, 0, 0, 0.267); 
    text-shadow: $Shadow;
}
.list{
    /*list-style-type: lower-greek;*/
    list-style-position: inside;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 30px;
}
ul{
    li{
        margin-left: 50px;
        list-style-type: lower-greek;
        /*list-style-position: inside;*/
        list-style: none;
        text-decoration: none;
        display: inline-block;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
/*.box2{
    background-color: rgb(224, 238, 238);
    height: px;
    width: 580px;
    padding:15px;
    border-width: 1px;
    border-color:cadetblue;
    border-style: outset;
    float:left;
    text-transform: capitalize;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:orchid;
}*/
@media only screen and (min-width:1025px){
    body{
        /*background-color:rgb(255, 240, 223);*/
        background-image: linear-gradient(to right, rgba(255, 0, 0, 0.226), rgba(255, 166, 0, 0.226), rgba(255, 255, 0, 0.226), rgba(0, 128, 0, 0.226), rgba(0, 0, 255, 0.226), rgba(128, 0, 128, 0.226));
    }
}
/*Recomendación de los profesores de CoderHouse:
0px a 767px - mobile phone
768px a 1024px - tables (in general)
1025px - desktop*/
@media only screen and (min-width:768px) and (max-width:1024px){
    body{
        background-image: linear-gradient(to left, rgba(255, 0, 0, 0.226), rgba(255, 166, 0, 0.226), rgba(255, 255, 0, 0.226), rgba(0, 128, 0, 0.226), rgba(0, 0, 255, 0.226), rgba(128, 0, 128, 0.226));
        /*background-image: url(../Multimedia/Fondo.JPG);*/
        background-size: cover;
        background-position: center;
    }
}
/*Recomendación de los profesores de CoderHouse:
0px a 767px - mobile phone
768px a 1024px - tables (in general)
1025px - desktop*/
@media only screen and (min-width:0px) and (max-width:767px){
    body{
        background-color:rgba(82, 123, 236, 0.253);
        background-image: linear-gradient(to right, rgba(255, 0, 0, 0.397),rgb(236, 222, 222),rgb(236, 222, 222), rgb(236, 222, 222), rgba(0, 0, 255, 0.356));
    }
}
/*Recomendación de los profesores de CoderHouse:
0px a 767px - mobile phone
768px a 1024px - tables (in general)
1025px - desktop*/
@import "_others"