@charset "UTF-8";
/*Estas son variables globales*/
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Island+Moments&family=Moon+Dance&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
body {
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0.226), rgba(255, 166, 0, 0.226), rgba(255, 255, 0, 0.226), rgba(0, 128, 0, 0.226), rgba(0, 0, 255, 0.226), rgba(128, 0, 128, 0.226));
}

h1 {
  color: rgba(0, 0, 255, 0.836);
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.267);
  text-align: center;
}

h2 {
  color: #5e2296;
  /*Estas son variables internas*/
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.267);
  text-align: center;
}
h2 span {
  color: rgba(255, 0, 0, 0.486);
}

p {
  text-align: center;
}

.box2 {
  background-color: #e0eeee;
  height: 750px;
  width: 580px;
  padding: 15px;
  border-width: 1px;
  border-color: cadetblue;
  border-style: outset;
  float: left;
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: orchid;
}

h5 {
  text-align: center;
  color: #6b20b1;
  /*Estas son variables internas*/
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.267);
}

dt {
  margin-left: 15px;
  color: #6d2929;
  /*Estas son variables internas*/
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.267);
}

dd {
  margin-left: 25px;
}

li {
  margin-left: 35px;
}

footer {
  text-align: center;
  margin-bottom: 15px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.267);
}

.list {
  /*list-style-type: lower-greek;*/
  list-style-position: inside;
  list-style: none;
  text-decoration: none;
  display: inline-block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 30px;
}

ul li {
  margin-left: 50px;
  list-style-type: lower-greek;
  /*list-style-position: inside;
  list-style: none;
  text-decoration: none;
  display: inline-block;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box2 {
  background-color: #e0eeee;
  height: 690px;
  width: 450px;
  padding: 15px;
  border-width: 10px;
  border-color: cadetblue;
  border-style: outset;
  float: left;
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: orchid;
  margin-left: 10px;
}

.box__uno {
  background-color: rgba(5, 5, 92, 0.767);
  width: 50%;
  /* Ancho de 50%*/
  height: 400px;
  /* altura 400px*/
}

.box__dos {
  background-color: #41a36a;
  width: -140px;
  height: 650px;
  /*650px*/
}

.titulo {
  font-size: 35px;
  color: #ffffff;
  text-align: center;
}

p {
  height: 200px;
  width: 220px;
  background-color: #694242;
  font-size: 60px;
  text-align: center;
}

/* Mi constante */
p {
  color: coral;
  background-color: #333;
}

.cont1 {
  height: 200px;
  width: 360px;
}

/* Mi constante */
.cont1 {
  color: coral;
  background-color: #333;
}

.para {
  height: 100px;
  background-color: rgba(0, 255, 76, 0.336);
  border: 3px solid #333;
}

.casitodos-1 {
  width: 6em;
}

.casitodos-2 {
  width: 12em;
}

.casitodos-3 {
  width: 18em;
}

.bucle-1 {
  width: 200px;
  height: 100px;
  background-color: purple;
  border: 2px solid #333;
  text-align: center;
  font-size: 20px;
}

.bucle-2 {
  width: 200px;
  height: 100px;
  background-color: purple;
  border: 2px solid #333;
  text-align: center;
  font-size: 20px;
}

.bucle-3 {
  width: 200px;
  height: 100px;
  background-color: purple;
  border: 2px solid #333;
  text-align: center;
  font-size: 20px;
}

.bucle-4 {
  width: 200px;
  height: 100px;
  background-color: purple;
  border: 2px solid #333;
  text-align: center;
  font-size: 20px;
}

.bucle-5 {
  width: 200px;
  height: 100px;
  background-color: purple;
  border: 2px solid #333;
  text-align: center;
  font-size: 20px;
}

.bucle-1 {
  background-color: #e75441;
}

.bucle-2 {
  background-color: #eb7565;
}

.bucle-3 {
  background-color: #f09589;
}

.bucle-4 {
  background-color: #f5b6ae;
}

.bucle-5 {
  background-color: #f9d6d2;
}

.puma-icon,
.egret-icon,
.sea-slug-icon {
  height: 250px;
  width: 400px;
  border: 2px solid #333;
}

.puma-icon {
  background-image: url("../Multimedia/Fondo.JPG");
  background-size: cover;
  background-position: center;
}

.sea-slug-icon {
  background-image: url("../Multimedia/Fondo.JPG");
  background-size: cover;
  background-position: center;
}

.egret-icon {
  background-image: url("../Multimedia/Fondo.JPG");
  background-size: cover;
  background-position: center;
}

/*animal tendrá los valores de cada uno */
.color-red {
  border-color: red;
  color: red;
  background-color: red;
  font-size: 60px;
  text-shadow: 5px 5px 5px #fff;
  border: 2px solid;
  height: 200px;
  width: 600px;
}

.color-blue {
  border-color: blue;
  color: blue;
  background-color: blue;
  font-size: 60px;
  text-shadow: 5px 5px 5px #fff;
  border: 2px solid;
  height: 200px;
  width: 600px;
}

.color-black {
  border-color: black;
  color: black;
  background-color: black;
  font-size: 60px;
  text-shadow: 5px 5px 5px #fff;
  border: 2px solid;
  height: 200px;
  width: 600px;
}

.color-orange {
  border-color: orange;
  color: orange;
  background-color: orange;
  font-size: 60px;
  text-shadow: 5px 5px 5px #fff;
  border: 2px solid;
  height: 200px;
  width: 600px;
}

.color-violet {
  border-color: violet;
  color: violet;
  background-color: violet;
  font-size: 60px;
  text-shadow: 5px 5px 5px #fff;
  border: 2px solid;
  height: 200px;
  width: 600px;
}

/*Creamos el bucle para usar los valores del mapa*/
.btn--red1 {
  background-color: #333;
  height: 200px;
  width: 500px;
  border: 2px solid #111;
  text-align: center;
  font-size: 50px;
  line-height: 200px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0 5px purple;
  font-family: cursive;
}

.btn--red2 {
  background-color: #333;
  height: 200px;
  width: 500px;
  border: 2px solid #111;
  text-align: center;
  font-size: 50px;
  line-height: 200px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0 5px gold;
  font-family: cursive;
}

.btn--red3 {
  background-color: #333;
  height: 200px;
  width: 500px;
  border: 2px solid #111;
  text-align: center;
  font-size: 50px;
  line-height: 200px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0 5px green;
  font-family: cursive;
}

.redsocial, .redsocial--nueva {
  border: 3px solid #f00;
  background-color: orangered;
  height: 300px;
  width: 600px;
  padding: 20px;
}

.redsocial--nueva {
  border-width: 3px;
  color: #fff;
  font-size: 60px;
}

.box {
  background-color: #41a36a;
  font-size: 60px;
  color: #fff;
  text-align: center;
}

.box {
  height: 300px;
  width: 300px;
  background-color: blue;
}

.box2 {
  height: 300px;
  width: 400px;
  background-color: green;
  color: white;
  text-align: center;
  font-size: 60px;
}

.whi {
  height: 200px;
  background-color: palegreen;
  width: 500px;
  border: 2px solid #ccc;
}

* {
  margin: 0;
  padding: 0;
}

p {
  text-justify: inherit;
  color: #1e1475;
  font-style: italic;
  font-size: 20px;
}

/*# sourceMappingURL=AStyles_2.css.map */
