$Color_1: linear-gradient(to right, rgba(255, 0, 0, 0.226), rgba(255, 166, 0, 0.226), rgba(255, 255, 0, 0.226), rgba(0, 128, 0, 0.226), rgba(0, 0, 255, 0.226), rgba(128, 0, 128, 0.226));
$Textito: rgba(0, 0, 255, 0.836);
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*Estas son variables globales*/

body{
    background-image: $Color_1;
}
h1{
    color: $Textito;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.267);
    text-align: center;
}
h2{
    color:rgb(94, 34, 150);
    $Shadow: 5px 5px 5px rgba(0, 0, 0, 0.267);
    /*Estas son variables internas*/
    text-shadow: $Shadow;
    text-align:center;
    /*sass --watch SASS_1/AStyles_1.scss SASS_1/AStyles_1.css*/
    span{
        color:rgba(255, 0, 0, 0.486);
    }
}
p{
    text-align: center;
}
h5{
    text-align: center;
    color:rgb(107, 32, 177);
    $Shadow: 5px 5px 5px rgba(0, 0, 0, 0.267);
    /*Estas son variables internas*/
    text-shadow: $Shadow;
    font-style: italic;
}
dt{
    margin-left: 15px;
    color:rgb(109, 41, 41);
    $Shadow: 3px 3px 3px rgba(0, 0, 0, 0.267);
    /*Estas son variables internas*/
    text-shadow: $Shadow;
}
dd{
    margin-left: 25px;
}
li{
    margin-left: 35px;
}
footer{
    text-align: center;
    margin-bottom: 15px; 
    $Shadow: 5px 5px 5px rgba(0, 0, 0, 0.267); 
    text-shadow: $Shadow;
}
.list{
    /*list-style-type: lower-greek;*/
    list-style-position: inside;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 30px;
}
ul{
    li{
        margin-left: 50px;
        list-style-type: lower-greek;
        /*list-style-position: inside;*/
        list-style: none;
        text-decoration: none;
        display: inline-block;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
/*.box2{
    background-color: rgb(224, 238, 238);
    height: px;
    width: 580px;
    padding:15px;
    border-width: 1px;
    border-color:cadetblue;
    border-style: outset;
    float:left;
    text-transform: capitalize;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:orchid;
}*/
@media only screen and (min-width:1025px){
    body{
        /*background-color:rgb(255, 240, 223);*/
        background-image: linear-gradient(to right, rgba(255, 0, 0, 0.226), rgba(255, 166, 0, 0.226), rgba(255, 255, 0, 0.226), rgba(0, 128, 0, 0.226), rgba(0, 0, 255, 0.226), rgba(128, 0, 128, 0.226));
    }
}
/*Recomendaci贸n de los profesores de CoderHouse:
0px a 767px - mobile phone
768px a 1024px - tables (in general)
1025px - desktop*/
@media only screen and (min-width:768px) and (max-width:1024px){
    body{
        background-image: linear-gradient(to left, rgba(255, 0, 0, 0.226), rgba(255, 166, 0, 0.226), rgba(255, 255, 0, 0.226), rgba(0, 128, 0, 0.226), rgba(0, 0, 255, 0.226), rgba(128, 0, 128, 0.226));
        /*background-image: url(../Multimedia/Fondo.JPG);*/
        background-size: cover;
        background-position: center;
    }
}
/*Recomendaci贸n de los profesores de CoderHouse:
0px a 767px - mobile phone
768px a 1024px - tables (in general)
1025px - desktop*/
@media only screen and (min-width:0px) and (max-width:767px){
    body{
        background-color:rgba(82, 123, 236, 0.253);
        background-image: linear-gradient(to right, rgba(255, 0, 0, 0.397),rgb(236, 222, 222),rgb(236, 222, 222), rgb(236, 222, 222), rgba(0, 0, 255, 0.356));
    }
}
/*Recomendaci贸n de los profesores de CoderHouse:
0px a 767px - mobile phone
768px a 1024px - tables (in general)
1025px - desktop*/


/*  Tarea 2 | Curso de JavaScript
:root {
    --primary: #1f36d2;
    --secondary: #D33F49;
    --light: rgba(214, 215, 228, 0.882);
    --dark: #000;
    --diabled: #e7e7e7;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    height: 100vh;
    background-color: var(--diabled);
}

*:first-letter {
    text-transform: capitalize;
}

.roundBorder {
    border-radius: 5px;
}

.list {
    margin: 25px auto;
    padding: 25px;
    background-color: var(--light);
    width: 100%;
    max-width: 250px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dateRight {
    display: flex;
    align-items: center;
}

#dateNumber {
    font-size: 50px;
}

#dateText {
    letter-spacing: 3px;
    text-transform: uppercase;
}

#dateMonth,
#dateNumber,
#dateText  {
    font-weight: bold;
}

#dateMonth,
#dateYear {
    margin-left: 7px;
    font-size: 20px;
}

form {
    margin: 20px 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 35px auto;
    grid-column-gap: 15px;
}

input {
    border: none;
    padding-left: 10px;
    background-color: var(--diabled);
}

input:focus {
    outline: none;
}

.addTaskButton,
.orderButton {
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.addTaskButton {
    height: 35px;
    border-radius: 50%;
    font-size: 18px;
    background-color: var(--diabled);
}

.orderButton {
    background-color: var(--secondary);
    color: var(--light);
}

.task {
    background-color: var(--primary);
    padding: 15px;
    margin-top: 15px;
    color: var(--light);
    cursor: pointer;
}

.done {
    background-color: var(--diabled);
    text-decoration: line-through;
    color: var(--dark);
}
*/

/*Tarea 4 | Curso de JavaScript*/

 /* * {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
 }
 :root {
        --white: #fafafb;
        --purple:#9a67ea;
        --blue-light:#04d4c3;
        --blue-dark:#2a73c2;
        --green: #2c7b90;
 }
body {
    background: linear-gradient(to bottom, var(--purple) , var(--blue-light));
    height: 100vh;
    font-family: 'Prompt', sans-serif;
}
 .container {
    max-width:100%;
    width: 400px;
    height: 600px;
    margin: 0 auto;
    padding: 0 30px;
}  */


/*//Perfil ///*/

/* .perfil h1 {
    color: var(--white) ;
    
}
.perfil span {
    color: var(--white);
    letter-spacing: 1px;
}
#fecha {
    color: var(--white);
    padding: 50px 15px 5px 0px;
} */





/*////////////AGREGAR TAREA //////////////////*/
/* 
.agregar-tarea {
    background-color: var(--white) ;
    width: 100%;
    height: 70px;
    border-radius: 15px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    gap: 70px;
    margin: 40px 0;
}
.agregar-tarea i {
    font-size: 50px;
    color: var(--purple) ;
    
}
.agregar-tarea i:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.agregar-tarea input {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
    background-color: var(--white);
    padding-left:10px ;
    
}
.agregar-tarea input::placeholder {
    font-size: 1.1rem;
    color: var(--purple);
 } */

/*///seccion de tarea////*/

/* .seccion-tarea h3 {
    margin-bottom: 20px;
    color: var(--white);
}
.seccion-tarea li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom, var(--blue-dark) , var(--green));
    border-radius:15px ;
    color: var(--white);
    padding: 10px;
    margin: 5px 0;
}
.seccion-tarea > ul p {
    font-size: 1.2rem;
}
.seccion-tarea i {
    font-size: 20px;
}
.seccion-tarea i:hover {
    color: var(--blue-light);
    cursor: pointer;
}
.line-through{
    text-decoration: line-through;
    color : var(--blue-light);
} */

/* * {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
 }
 :root {
        --white: #fafafb;
        --purple:#9a67ea;
        --blue-light:#04d4c3;
        --blue-dark:#2a73c2;
        --green: #2c7b90;
 }
body {
    background: linear-gradient(to bottom, var(--purple) , var(--blue-light));
    height: 100vh;
    font-family: 'Prompt', sans-serif;
}
 .container {
    max-width:100%;
    width: 400px;
    height: 600px;
    margin: 0 auto;
    padding: 0 30px;
}  */


/*//Perfil ///*/

/* .perfil h1 {
    color: var(--white) ;
    
}
.perfil span {
    color: var(--white);
    letter-spacing: 1px;
}
#fecha {
    color: var(--white);
    padding: 50px 15px 5px 0px;
} */





/*////////////AGREGAR TAREA //////////////////*/
/* 
.agregar-tarea {
    background-color: var(--white) ;
    width: 100%;
    height: 70px;
    border-radius: 15px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    gap: 70px;
    margin: 40px 0;
}
.agregar-tarea i {
    font-size: 50px;
    color: var(--purple) ;
    
}
.agregar-tarea i:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.agregar-tarea input {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
    background-color: var(--white);
    padding-left:10px ;
    
}
.agregar-tarea input::placeholder {
    font-size: 1.1rem;
    color: var(--purple);
 } */

/*///seccion de tarea////*/

/* .seccion-tarea h3 {
    margin-bottom: 20px;
    color: var(--white);
}
.seccion-tarea li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom, var(--blue-dark) , var(--green));
    border-radius:15px ;
    color: var(--white);
    padding: 10px;
    margin: 5px 0;
}
.seccion-tarea > ul p {
    font-size: 1.2rem;
}
.seccion-tarea i {
    font-size: 20px;
}
.seccion-tarea i:hover {
    color: var(--blue-light);
    cursor: pointer;
}
.line-through{
    text-decoration: line-through;
    color : var(--blue-light);
} */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --white: #4949e6;
    --purple:#ffffff;
    --blue-light:#0a6938;
    --blue-dark:#e4d9d5c7;
}

.container {
    max-width: 80%;
    width: 400px;
    height: 600px;
    margin: 0 auto;
}

.perfil h1 {
    color: var(--white);
}

.perfil span {
    color: var(--white);
    letter-spacing: 1px;
}

#fecha {
    color: var(--white);
    padding: 50px 0 5px 0px;
}

/*Agregar actividad*/
.agregar-tarea {
    background-color: var(--white) ;
    border-radius: 15px;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 10px;
    margin: 40px 0;
}

.agregar-tarea input {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
    background-color: var(--white);
    padding-left: 10px;

}
.agregar-tarea input::placeholder {
    font-size: 1.1rem;
    color: var(--purple);
}

.agregar-tarea i{
    font-size: 50px;
    color: var(--purple);

}
.agregar-tarea i:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/*Secci贸n de actividad*/
.seccion-tarea h3 {
    color: var(--white);
    margin-bottom: 20px;
}

.seccion-tarea li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--blue-dark);
    border-radius: 15px;
    padding: 10px;
    color: var(--white);
    margin: 5px 0;

}
.seccion-tarea i {
    font-size: 25px;
}

.seccion-tarea > ul p {
    font-size: 1.2rem;

}

.seccion-tarea i:hover {
    color: var(--blue-light);
    cursor: pointer;
}

.line-through{
    text-decoration: line-through;
    color : var(--blue-light);
} 

//Segunda entrega del proyecto final

.containeer{
    height: 100vh;
    width: 1500PX;
    margin: 2rem auto;
}

.container h2{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.3rem;
}

.formulario-datos{
    display: block;
    width: 50%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
}

.formulario-datos input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3c4642;
    color: white;
}

.formulario-datos input:active{
    border-bottom: 1px solid rgb(54, 101, 211);
}

.formulario-datos input:focus{
    border-bottom: 1px solid dodgerblue;
}

.formulario-datos button {
    background-color: rgb(41, 142, 209);
    border: 0;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    height: 3rem;
}

.Listado-Tareas{
    display: flex;
    flex-direction: column;
}

.Tarea{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4rem;
}

.icono{
    color: tomato;
    cursor: pointer;
}

// Actividades del equipo

.success, .error {
    color: white;
    padding: 5px;
    margin: 5px 0 15px 0;
}

.success {
    background: rgb(11, 97, 11);
}

.error {
    background: red;
}

@import "_others"