$Color_1: linear-gradient(to right, rgba(255, 0, 0, 0.226), rgba(255, 166, 0, 0.226), rgba(255, 255, 0, 0.226), rgba(0, 128, 0, 0.226), rgba(0, 0, 255, 0.226), rgba(128, 0, 128, 0.226));
$Textito: rgba(0, 0, 255, 0.836);
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*Estas son variables globales*/

body{
    background-image: $Color_1;
}
h1{
    color: $Textito;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.267);
    text-align: center;
}
h2{
    color:rgb(94, 34, 150);
    $Shadow: 5px 5px 5px rgba(0, 0, 0, 0.267);
    /*Estas son variables internas*/
    text-shadow: $Shadow;
    text-align:center;
    /*sass --watch SASS_1/AStyles_1.scss SASS_1/AStyles_1.css*/
    span{
        color:rgba(255, 0, 0, 0.486);
    }
}
p{
    text-align: center;
}
.box2{
    background-color: rgb(224, 238, 238);
    height: 750px;
    width: 580px;
    padding:15px;
    border-width: 1px;
    border-color:cadetblue;
    border-style: outset;
    float:left;
    text-transform: capitalize;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:orchid;
}
h5{
    text-align: center;
    color:rgb(107, 32, 177);
    $Shadow: 5px 5px 5px rgba(0, 0, 0, 0.267);
    /*Estas son variables internas*/
    text-shadow: $Shadow;
    font-style: italic;
}
dt{
    margin-left: 15px;
    color:rgb(109, 41, 41);
    $Shadow: 3px 3px 3px rgba(0, 0, 0, 0.267);
    /*Estas son variables internas*/
    text-shadow: $Shadow;
}
dd{
    margin-left: 25px;
}
li{
    margin-left: 35px;
}
footer{
    text-align: center;
    margin-bottom: 15px; 
    $Shadow: 5px 5px 5px rgba(0, 0, 0, 0.267); 
    text-shadow: $Shadow;
}
.list{
    /*list-style-type: lower-greek;*/
    list-style-position: inside;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 30px;
}
ul{
    li{
        margin-left: 50px;
        list-style-type: lower-greek;
        /*list-style-position: inside;*/
        list-style: none;
        text-decoration: none;
        display: inline-block;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
.box2{
    background-color: rgb(224, 238, 238);
    height: 690px;
    width: 450px;
    padding:15px;
    border-width: 10px;
    border-color:cadetblue;
    border-style: outset;
    float:left;
    text-transform: capitalize;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:orchid;
    margin-left: 10px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* ///////////..utility classes../////////// */

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: small;
}

.btn-primary {
  color: #fff;
  background: #16a083;
}

.btn-primary:hover {
  background: #484ea5;
  transition: background 0.5s ease-in-out;
}

/* ............/navbar/............ *
/* desktop mode............/// */
@media only screen and (min-width:1025px){
.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  box-shadow: 0px 5px 10px 0px rgb(109, 109, 109);
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.85;
  height: 65px;
  z-index: 12;
}

.navbar-container {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: left;
}

.menu-items {
  order: 2;
  display: flex;
  flex-wrap: wrap;
}

.menu-items li {
  list-style: none;
  margin-left: 15px;
  margin-bottom: 0.5rem;
  font-size: 15px;
}

.menu-items a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #771577;
  transition: color 0.5s ease-in-out;
}

.logo {
  order: 1;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
}

@media only screen and (min-width:768px) and (max-width:1024px){

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  box-shadow: 0px 5px 10px 0px rgb(109, 109, 109);
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.85;
  height: 130px;
  z-index: 12;
}

.navbar-container {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: left;
}

.menu-items {
  order: 2;
  display: flex;
  flex-wrap: wrap;
}

.menu-items li {
  list-style: none;
  margin-left: 15px;
  margin-bottom: 0.5rem;
  font-size: 15px;
}

.menu-items a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  text-shadow: #000;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #771577;
  transition: color 0.5s ease-in-out;
}

.logo {
  order: 1;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
}
/* ......../ media query /.......... */

@media only screen and (min-width:321px) and (max-width:767px) {
  .navbar {
    opacity: 0.95;    
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar {
    box-shadow: 0px 5px 10px 0px rgb(109, 109, 109);
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    height: 65px;
    z-index: 12;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -140px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 20px;
    font-weight: 250;
  }

  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 2rem;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }
}

@media only screen and (min-width:0px) and (max-width:320px){
  .logo {
    position: absolute;
    top: 06px;
    right: 10px;
    font-size: 1.5rem;
  }

  .navbar {
    box-shadow: 0px 5px 10px 0px rgb(109, 109, 109);
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    height: 65px;
    z-index: 12;
  }
  .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -140px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
  }
  .navbar .menu-items li {
    margin-bottom: 2.5rem;
    font-size: 1rem;
    font-weight: 250;
  }
}

@import "_others"